# Виртуальное окружение Python
.venv/
venv/
env/

# Кэш pytest
.pytest_cache/

# Файлы IDE (PyCharm / Giga IDE)
.idea/
.gigaide
*.iml

# Кэш Python
__pycache__/
*.pyc

# Операционная система
.DS_Store
Thumbs.db

# Allure
allure-results/
allure-report/